@use "../styles/mixins";
@use "../styles/variables";
@use "sass:color";

.inputCont {
	position: relative;
}

.input {
	outline: none;
	width: 100%;
	padding: 1.6rem 1rem;
	border: 2px solid #545f7d26;
	border-radius: 5px;
	@include mixins.prompt-font_arg(400);
	transition: box-shadow;
	transition-duration: 500ms;

	&::placeholder {
		color: #545f7d96;
	}

	&:focus {
		box-shadow: 0px 0px 8px
			color.scale(variables.$primary_color, $lightness: 51.41%);
		-webkit-box-shadow: 0px 0px 8px
			color.scale(variables.$primary_color, $lightness: 51.41%);
		-moz-box-shadow: 0px 0px 8px
			color.scale(variables.$primary_color, $lightness: 51.41%);
	}
}

.input_showBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1.3rem;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: variables.$primary_color;
	cursor: pointer;
	padding: 1rem;
	@include mixins.prompt-font_arg(500);
	letter-spacing: 2px;
	box-sizing: content-box;

	&:focus {
		border: 2px solid variables.$primary_color;
		border-radius: 5px;
		outline: none;
	}
}
