@use "../styles/mixins";
@use "../styles/variables";

.select {
	@include mixins.text_size(md);
	font-weight: 600;
	padding: 0.5rem;
	border-radius: 4px;
	outline: none;
	color: variables.$secondary_color;
	background-color: rgba(variables.$secondary_color, 0.1);
	transition: border;
	transition-duration: 500ms;
	border: 2px solid rgba(0, 0, 0, 0);

	&:focus {
		transition-duration: 500ms;
		border: 2px solid variables.$secondary_color;
	}
}
