@use "../styles/mixins";

.dashBoardLayout {
	@include mixins.work_sans_font();
	display: grid;
	grid-template-columns: 3.7fr 12fr !important;
	grid-template-rows: 1.5fr 10fr;
	height: 100dvh;

	& > * {
		&:nth-child(1) {
			background-color: white;
			grid-column: 1/-1;
			grid-row: 1;
			box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.061);
			z-index: 1;
			padding: 0 3.5rem;
		}

		&:nth-child(3) {
			grid-column: 2/-1;
			background-color: #fbfbfb;
			overflow: auto;
		}
	}
}

.aside {
	background-color: white;
	box-shadow: 4px 2px 20px 0px rgba(0, 0, 0, 0.061);
	overflow-y: scroll;
	grid-column: 1/2;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(238, 235, 235);
	}
}

.mainContent {
	padding: 5rem 5rem;
	width: 100%;
}
