@use "../styles/variables";
@use "../styles/mixins";

.layout {
	@include mixins.prompt-font();
	@include mixins.flex_center();

	height: 100dvh;

	& > div {
		width: 50%;
		height: 100%;
		background-color: white;
		display: flex;
		padding: 8rem 10rem;
		flex-direction: column;

		&:nth-child(2) {
			box-shadow: 0px 15px 90px 0px #00000008;
		}
	}
}

.logoImageContainer_image {
	@include mixins.flex_center();

	margin-top: 9rem;
	height: 60%;

	& > img {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.formContainer {
	@include mixins.flex_center(column);

	gap: 8.5rem;
}

.formDetails {
	width: 100%;

	& > h2 {
		@include mixins.header-size(xl);
		font-weight: 600;
		color: variables.$secondary_color;
	}

	& > p {
		@include mixins.subheader-size(sm);
		color: #545f7d;
	}
}
