@use "../../styles/variables";
@use "../../styles/mixins";

.form {
	@include mixins.flex_center(column);

	width: 100%;
	gap: 2.5rem;

	& > div {
		width: 100%;
	}
}

.form__forgotPassword {
	@include mixins.text-size(md);

	color: variables.$primary_color;
	text-transform: uppercase;
	font-weight: 500;
	padding: 0.5rem;

	&:focus {
		border: 2px solid variables.$primary_color;
		border-radius: 5px;
		outline: none;
	}
}

.form__submitBtn {
	@include mixins.text-size(md);

	background-color: variables.$primary_color;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	width: 100%;
	padding: 1.5rem 1rem;
	border-radius: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease; // Smooth transition for animatable properties
	border: 2px solid variables.$primary_color;

	&:hover {
		color: variables.$primary_color;
		background-color: white;
	}

	&:active {
		transform: scale(0.95);
	}

	&:focus {
		box-shadow: 0 0 0 5px rgba(variables.$primary_color, 0.3); // Replace outline with box-shadow
	}
}
